<template>
    <div style="height: 100vh" class="d-flex align-items-center">

        <div class="container d-flex justify-content-center" type="primary">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Login</h4>
                </div>

                <div class="card-body">
                    <div class="mb-2 mx-3 row">
                        <label for="emailInput" class="form-label">Email address</label>
                        <input v-model="credentials.email" type="email" class="form-control"
                               :class="{'border-danger' : errors.email?.length}" id="emailInput"
                               placeholder="name@example.com">
                    </div>
                    <div class="mx-3 mb-1 row">
                        <h6 class="text-danger mb-1" style="font-size: 10pt" v-for="error of errors.email">{{error}}</h6>
                    </div>

                    <div class="mb-2 mx-3 row">
                        <label for="passwordInput" class="form-label">Password</label>
                        <input v-model="credentials.password" type="password" class="form-control"
                               :class="{'border-danger' : errors.password?.length}" id="passwordInput">
                    </div>
                    <div class="mx-3 mb-1 row">
                        <h6 class="text-danger mb-1" style="font-size: 10pt" v-for="error of errors.password">{{error}}</h6>
                    </div>
                    <div class="mb-3 mx-3 row">
                        <span class="badge bg-danger">{{errors.message}}</span>
                    </div>
                    <div class="mb-3 mx-3 row">
                        <button type="button" class="btn btn-primary" v-on:click="onSubmit()">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import {HttpStatusCode} from "axios";
import Http from "../../infrastructure/Http";
import {Endpoints} from "../../infrastructure/enums/HttpEndpoints";

export default {
    name: "login-component",
    data: () => {
        return {
            credentials: {
                email: '',
                password: ''
            },
            errors: {
                message: '',
                email: [],
                password: []
            }
        }
    },
    methods: {
        onSubmit() {
            Http().post(Endpoints.Auth.Login, this.credentials).then((response) => {
                localStorage.setItem('jwt-token', response.data.token);
                this.$router.push({name:'cities'});
            }).catch(({request}) => {
                if (request.status === HttpStatusCode.UnprocessableEntity) {
                    this.errors = JSON.parse(request.response).errors;
                    this.errors.message = '';
                }
                if (request.status === HttpStatusCode.BadRequest) {
                    this.errors.message = JSON.parse(request.response).message
                    this.errors.email = [];
                    this.errors.password = [];
                }
                if (request.status === HttpStatusCode.TooManyRequests) {
                    this.$toast.warning(`Too many requests!`);
                }
            });

        }
    }
}
</script>

<style scoped>

</style>
