<template>
    <div>
        <span>{{ name }}</span>
    </div>
</template>

<script>
import Http from "../../infrastructure/Http";
import {Endpoints} from "../../infrastructure/enums/HttpEndpoints";

export default {
    name: "UserDetails",
    data: () => {
        return {
            name: ''
        }
    },
    mounted() {
        Http().get(Endpoints.Auth.Me).then(response => {
            this.name = response.data.name;
        }).catch(() => {
            this.name = '';
        })
    }
}
</script>

<style scoped>

</style>
