<template>

    <div class="container my-3">
        <div class="row">
            <div class="col-sm-1 offset-sm-9">
                <user-details></user-details>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-sm btn-primary" v-on:click="logout()">Logout</button>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Cities</h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Country Code</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Population</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="city in cities.data" :key="city.id">
                <th scope="row">{{ city.id }}</th>
                <td>{{ city.country_code }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.description }}</td>
                <td>{{ new Intl.NumberFormat().format(city.population) }}</td>
            </tr>

            </tbody>
        </table>

        <Bootstrap5Pagination
            :data="cities.meta"
            @pagination-change-page="fetch"
        />
    </div>

</template>

<script>

import Http from "../infrastructure/Http";
import {Endpoints} from "../infrastructure/enums/HttpEndpoints";
import Bootstrap5Pagination from "laravel-vue-pagination/src/Bootstrap5Pagination.vue";
import UserDetails from "./Auth/UserDetails.vue";
import {HttpStatusCode} from "axios";

export default {
    name: "Cities",
    components: {UserDetails, Bootstrap5Pagination},
    data: () => {
        return {
            cities: {
                data: [],
                links: {},
                meta: {}
            }
        }
    },
    methods: {
        fetch(page = 1) {
            Http()
                .get(Endpoints.Cities, {params: {page}})
                .then((response) => {
                    this.cities = response.data
                })
                .catch(({request}) => {
                    if (request.status === HttpStatusCode.TooManyRequests) {
                        this.$toast.warning(`Too many requests!`);
                    } else {
                        this.$toast.error(`Server error`);
                    }
                })
        },
        logout() {
            localStorage.removeItem('jwt-token');
            this.$router.push({ name: 'login' });
        }
    },
    mounted() {
        this.fetch();
    }
}
</script>

<style scoped>

</style>
